@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

body {
   
    font-family: "Outfit", sans-serif;
   


}

* {
    outline: none;
}

.my-shadow{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}